body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    width: 320px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background: #ffcb05;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#resultado img {
    width: 150px;
    margin-top: 10px;
}
